body {
    margin: 0;
    font-family: 'Rubik';
}


.nav-bar-desktop{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #414141;
    height: 68px;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: row;
}

.nav-bar-mobile{
    height: 68px;
    width: 100%;
    display: none;
    background-color: #414141;
}

.fa.fa-bars{
    display: none;
}

@media screen and (max-width: 800px){
    .nav-bar-desktop{
        display: none;
    }
    .nav-bar-mobile{
        display: flex;
    }

    .fa.fa-bars{
        display: block;
        /* float: left; */
        color: white;
        font-size: 25px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .img-logo{
        margin-right: 25px;
    }

    .alcohol-cards-hp{
        flex-direction: column;
        height: 1500px !important;
    }

    .text-intro-hp {
        font-size: 15px;
      }
}

.footer {
    background-color: #414141;
    height: 68px;
    width: 100%;
    bottom: 0px;
}

.nav-bar-footer {
    display: grid;
    text-align: center;
    width: 100%;
    line-height: 68px;
}

.menu-item {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero-image img {
    width: 100%;
    height: auto;
    z-index: -1;
    /* position: absolute; */
    left: 0px;
    right: 0px;
}


.hamburger-menu{
    display: none;
    width: 100%;
    background: #797878;
    position: absolute;
}

.hamburger-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.hamburger-menu ul li{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid white;
}

.space {
    width: 2%;
}

.line {
    width: 41%;
}

.title {
    width: 14%;
    text-align: center;
    font-size: 22Px;
    font-weight: bold;
}

.content {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 40px;
    text-align: center;
    font-size: 26px;

}

.clear-left {
    clear: left;
}

.float-left {
    float: left;
}

#logo-mobile{
    width: 100%;
    text-align: center;
}

#logo{
    margin-right: 35px;
}


/* Cards design */
.a-box {
    display: inline-block;
    width: 240px;
    text-align: center;
  }
  
  .img-container {
      height: 230px;
      width: 200px;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      display: inline-block;
  }
  
  .img-container img {
      transform: skew(0deg, -13deg);
      height: 250px;
      /* margin: -35px 0px 0px -70px; */
      margin-right: -25px;
      margin-top: -25px;
  }
  
  .inner-skew {
      display: inline-block;
      border-radius: 20px;
      overflow: hidden;
      padding: 0px;
      transform: skew(0deg, 13deg);
      font-size: 0px;
      margin: 30px 0px 0px 0px;
      background: #84a9b2;
      height: 250px;
      width: 200px;
  }
  
  .text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
  }
  
  .text-container h3 {
    margin: 20px 0px 10px 0px;
    color: #04bcff;
    font-size: 18px;
  }

  .alcohol-cards-hp {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    background: #edebeb;
    height: 500px;
  }

  .text-intro-hp {
    font-size: 26px;
  }